.wrapper {
  display: flex;
  height: 100vh;
}

.containerBg {
  flex: 1;
  padding: 24px;
  height: 100vh;
  overflow: auto;
}

.containerTitle {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.wrapperTrashIcon {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.textContainerTitle {
  margin: 0px;
  font-size: 12px;
  margin-left: 8px;
}

.containerProduct {
  width: '100%';
  height: 100px;
  display: flex;
  align-items: center;
}

.wrapperTrashItem {
  height: 100px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-direction: column;
}

.textWrapperTashItem {
  margin: 0px;
  font-size: 8px;

}

.photo {
  width: 50px;
  height: 50px;
}

.containerProductInfo {
  margin-left: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.name {
  margin: 0px;
}

.containerPrice {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.containerPayment {
  background-color: #eee2;
  flex: 1;
  padding: 24px;
  overflow: auto;
}

.header {
  width: 100%;
  min-height: 100px;
  background-color: #eee;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.logo {
  font-size: 40px;
  font-weight: 900;
}

@media only screen and (max-width: 600px){
  .wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .containerTitle {
    display: flex;
    flex-direction: column;
  }

  .containerPrice {
  display: flex;
  justify-content: space-between;
 }

}