@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

.wrapper {
  display: flex;
}

.image {
  width: 200px;
  height: 200px;
}

.container {
  padding: 24;
  margin-left: 25px;
}

.price {
  font-weight: bold;
  font-size: 18px;
  font-family: Roboto;
}

.name {
  font-size: 24px;
  font-family: Roboto;
  color: black;
}

.description {
  margin-top: 10px;
}

@media only screen and (max-width: 600px){
  .wrapper {
    display: flex;
    flex-direction: column;
  }

  .image {
    width: 200px;
    height: 200px;
    align-self: center;
  }

    .container {
      padding: 0px;
      margin-left: 0px;
  }

}