@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900i&display=swap');

.wrapper {
  display: flex;
  flex: 1;
  height: 100vh;
  flex-direction: column;
}

.header {
  width: 100%;
  background-color: #eee;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.logo {
  font-size: 40px;
  font-weight: 900;
}

.containerBg {
  width: 100%;
  padding: 24;
  justify-content: center;
  display: flex;
}

.containerProducts {
  max-width: 80%;
  display: flex;
  flex-wrap: wrap;
  padding: 24;
  margin-top: 50px;
  justify-content: center;
}

.wrapperCartIcon {
  display: flex;
  align-items: center;
  cursor: pointer;
}